@font-face{
    font-family: '2P';
    src: url('../assets/fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Rubik';
    src: url('../assets/fonts/Rubik/Rubik-VariableFont_wght.ttf'); 
}

.ft-pt{
    font-family: 2P !important;
}

.ft-rb{
    font-family: Ubuntu !important;
}

.bold{
    font-weight: 700;
}

.medium{
    font-weight: 500;
}

.regular{
    font-weight: 400;
}