.poke-card{
    height: 300px;
    width: 200px;
    color: white;
}

.header-card{
    background-color: rgb(33, 43, 49);
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 5px 0 5px;
    border-radius: 12px 12px 0 0;
}

#poke-amount{
    padding-right: 10px;
}

.poke-img{
    height: 200px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

#poke-gallery{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

/* .amountButton{
    he
} */