.poke-card{
    height: 250px;
    width: 200px;
    color: white;
}

.header-card{
    background-color: rgb(33, 43, 49);
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 5px 0 5px;
    border-radius: 12px 12px 0 0;
}

#poke-amount{
    padding-right: 10px;
}

.poke-img{
    height: 150px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

#poke-gallery{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.pagebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.page-changer{
    display: flex;
    list-style: none;
    padding: 0;
    gap: 5px;
    font-size: 20px;
}

.page-changer li:hover{
    cursor: pointer;
    color: brown;
    font-weight: bold;    
}

#pokeLimit{
    cursor: pointer;
}