.poke-card{
    height: 250px;
    width: 200px;
    color: white;
}

.header-card{
    background-color: rgb(33, 43, 49);
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 5px 0 5px;
    border-radius: 12px 12px 0 0;
}

#poke-amount{
    padding-right: 10px;
}

.poke-img{
    height: 150px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

#poke-gallery{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.pagebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.page-changer{
    display: flex;
    list-style: none;
    padding: 0;
    gap: 5px;
    font-size: 20px;
}

.page-changer li:hover{
    cursor: pointer;
    color: brown;
    font-weight: bold;    
}

#pokeLimit{
    cursor: pointer;
}

#back-button{
   display: none;
   justify-content: center;
   align-items: center;
   gap: 20px;
   margin: 10px;
   filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
}

.bt-back{
    width: 100px;

}

.bt-loadMore {
    width: 180px;
}

.bt-pagebar{
    text-decoration: none;
    display: flex;
    justify-content: center;
    background-color: rgb(33, 43, 49);
    color: white;
    font-size: 24px;
    height: 30px;
    border-radius: 15px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

.bt-pagebar:hover {
    background-color: rgb(50, 58, 63);
    transform: scale(1.1);
}

.bt-pagebar:active {
    transform: scale(0.95);
}

#message-empty{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(255, 191, 0);
    font-size: 30px;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
    margin: 20px;
}