@media (max-width: 1100px) {
    .header {
        padding: 0 2%;
    }

    #title-img {
        width: 200px;
    }
}

@media (max-width: 900px) {
    .header {
        height: 60px;
    }

    #pokeball-icon{
        width: 50px !important;
    }

    #title-img {
        display: flex;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }

    .typ-nav{
        display: none;
    }

    #nav-menu-icon{
        display: flex;
        width: 30px;
        padding-left: 10px;
        cursor: pointer;
    }
}

@media (max-width: 650px) {
    #title-img {
        display: none;
    }

    .nav-icon{
        border-radius: 100%;
        height: 30px;
        width: 30px;
        transition: 200ms all;
        flex: 0 1 calc(100% / 9 - 4px);
    }

    .typ-nav{
        width: calc(9 * 36px);
     }
}

@media(max-width: 360px) {
    .nav-icon {
        flex: 0 1 calc(100% / 6 - 4px);
    }

    .typ-nav {
        width: calc(6* 36px);
    }

    .menu-pk-gy{
        padding-top: 115px;
    }

    .menu-nav{
        height: 105px;
     }

     .loader {
        width: 60px;
        height: 60px;
     }

     .loader img{
        width: 50px;
     }
}

@media (min-width: 900px) {
    .menu-nav{
        display: none;
    }

    .menu-pk-gy{
        padding: 3%;
    }

    .menu-typ-nav{
        top: 0;
        padding-top: 18px;
     }
}